<div
  class="minfo__contentBox relative mx-auto max-w-container xl:max-2xl:max-w-65rem"
>
  <!-- Portfolio Section Start -->
  <div
    class="py-5 xl:py-3.5 max-w-content xl:max-2xl:max-w-50rem max-xl:mx-auto xl:ml-auto"
  >
    <div
      class="px-5 py-8 md:p-8 bg-white dark:bg-nightBlack rounded-2xl service-section lg:p-10 2xl:p-13"
    >
      <div
        class="inline-flex items-center gap-2 px-4 py-2 text-xs tracking-wide text-black dark:text-white border lg:px-5 section-name border-platinum dark:border-greyBlack200 rounded-4xl"
      >
        <i class="fal fa-tasks-alt text-theme"></i>
        PORTFOLIO
      </div>
      <div class="mt-5 mb-8 md:my-10 section-title">
        <h2
          class="title text-[32px] md:text-4xl lg:text-5xl font-extralight text-black dark:text-white leading-1.27"
        >
          Featured <span class="font-semibold text-theme">Projects</span>
        </h2>
        <p class="max-w-xl mt-4 md:mt-6 subtitle">
          I design products that are more than pretty. I make them shippable and
          usable, ttempor non mollit dolor et do aute
        </p>
      </div>
      <!--./section-title-->

      <div
        class="portfolio_wrapper grid sm:grid-cols-2 gap-4 lg:gap-7.5 *:relative *:z-1"
      >
        <div class="item md:col-span-2 group">
          <app-portfolio-card />
        </div>

        <div class="item md:col-span-1 group">
          <a
            href="project-single.html"
            class="block p-3 overflow-hidden border md:p-4 rounded-xl border-platinum dark:border-greyBlack"
          >
            <div class="img-wrapper">
              <img
                src="img/portfolio/portfolio-img2.png"
                class="rounded-lg max-md:h-[17rem] w-full max-md:object-cover max-md:object-center transition-all duration-300 group-hover:blur-xs"
                alt="portfolio"
              />
              <div
                class="absolute inset-0 transition-all duration-300 opacity-0 overlay bg-gradient-to-t from-white dark:from-black to-transparent rounded-xl group-hover:opacity-100"
              ></div>
            </div>
            <div
              class="info text-center position-center max-lg:text-3xl text-lead font-semibold text-black dark:text-white leading-1.15 transition duration-500 scale-110 opacity-0 group-hover:scale-100 group-hover:opacity-100 relative z-10"
            >
              Design
              <span> Specialization </span>
            </div>
          </a>
          <ul
            class="absolute z-10 transition-all duration-500 opacity-0 md:top-9 md:right-9 top-6 right-6 group-hover:opacity-100"
          >
            <li>
              <a
                href="#"
                class="inline-flex items-center gap-2 px-5 py-3 text-sm font-light leading-none text-white transition-colors bg-metalBlack rounded-3xl hover:text-theme"
              >
                Branding
              </a>
            </li>
          </ul>
        </div>
        <!--./portfolio-card-->

        <div class="item md:col-span-1 group">
          <a
            href="project-single.html"
            class="block p-3 overflow-hidden border md:p-4 rounded-xl border-platinum dark:border-greyBlack"
          >
            <div class="img-wrapper">
              <img
                src="img/portfolio/portfolio-img3.png"
                class="rounded-lg max-md:h-[17rem] w-full max-md:object-cover max-md:object-center transition-all duration-300 group-hover:blur-xs"
                alt="portfolio"
              />
              <div
                class="absolute inset-0 transition-all duration-300 opacity-0 overlay bg-gradient-to-t from-white dark:from-black to-transparent rounded-xl group-hover:opacity-100"
              ></div>
            </div>
            <div
              class="info text-center position-center max-lg:text-3xl text-lead font-semibold text-black dark:text-white leading-1.15 transition duration-500 scale-110 opacity-0 group-hover:scale-100 group-hover:opacity-100 relative z-10"
            >
              Design
              <span> Specialization </span>
            </div>
          </a>
          <ul
            class="absolute z-10 transition-all duration-500 opacity-0 md:top-9 md:right-9 top-6 right-6 group-hover:opacity-100"
          >
            <li>
              <a
                href="#"
                class="inline-flex items-center gap-2 px-5 py-3 text-sm font-light leading-none text-white transition-colors bg-metalBlack rounded-3xl hover:text-theme"
              >
                Branding
              </a>
            </li>
          </ul>
        </div>
        <!--./portfolio-card-->

        <div class="item md:col-span-1 group">
          <a
            href="project-single.html"
            class="block p-3 overflow-hidden border md:p-4 rounded-xl border-platinum dark:border-greyBlack"
          >
            <div class="img-wrapper">
              <img
                src="img/portfolio/portfolio-img5.png"
                class="rounded-lg max-md:h-[17rem] w-full max-md:object-cover max-md:object-center transition-all duration-300 group-hover:blur-xs"
                alt="portfolio"
              />
              <div
                class="absolute inset-0 transition-all duration-300 opacity-0 overlay bg-gradient-to-t from-white dark:from-black to-transparent rounded-xl group-hover:opacity-100"
              ></div>
            </div>
            <div
              class="info text-center position-center max-lg:text-3xl text-lead font-semibold text-black dark:text-white leading-1.15 transition duration-500 scale-110 opacity-0 group-hover:scale-100 group-hover:opacity-100 relative z-10"
            >
              Design
              <span> Specialization </span>
            </div>
          </a>
          <ul
            class="absolute z-10 transition-all duration-500 opacity-0 md:top-9 md:right-9 top-6 right-6 group-hover:opacity-100"
          >
            <li>
              <a
                href="#"
                class="inline-flex items-center gap-2 px-5 py-3 text-sm font-light leading-none text-white transition-colors bg-metalBlack rounded-3xl hover:text-theme"
              >
                Branding
              </a>
            </li>
          </ul>
        </div>
        <!--./portfolio-card-->

        <div class="item md:col-span-1 group">
          <a
            href="project-single.html"
            class="block p-3 overflow-hidden border md:p-4 rounded-xl border-platinum dark:border-greyBlack"
          >
            <div class="img-wrapper">
              <img
                src="img/portfolio/portfolio-img6.png"
                class="rounded-lg max-md:h-[17rem] w-full max-md:object-cover max-md:object-center transition-all duration-300 group-hover:blur-xs"
                alt="portfolio"
              />
              <div
                class="absolute inset-0 transition-all duration-300 opacity-0 overlay bg-gradient-to-t from-white dark:from-black to-transparent rounded-xl group-hover:opacity-100"
              ></div>
            </div>
            <div
              class="info text-center position-center max-lg:text-3xl text-lead font-semibold text-black dark:text-white leading-1.15 transition duration-500 scale-110 opacity-0 group-hover:scale-100 group-hover:opacity-100 relative z-10"
            >
              Design
              <span> Specialization </span>
            </div>
          </a>
          <ul
            class="absolute z-10 transition-all duration-500 opacity-0 md:top-9 md:right-9 top-6 right-6 group-hover:opacity-100"
          >
            <li>
              <a
                href="#"
                class="inline-flex items-center gap-2 px-5 py-3 text-sm font-light leading-none text-white transition-colors bg-metalBlack rounded-3xl hover:text-theme"
              >
                Branding
              </a>
            </li>
          </ul>
        </div>
        <!--./portfolio-card-->

        <div class="item md:col-span-2 group">
          <a
            href="project-single.html"
            class="block p-3 overflow-hidden border md:p-4 rounded-xl border-platinum dark:border-greyBlack"
          >
            <div class="img-wrapper">
              <img
                src="img/portfolio/portfolio-img1-xl.png"
                class="rounded-lg max-md:h-[17rem] w-full max-md:object-cover max-md:object-center transition-all duration-300 group-hover:blur-xs"
                alt="portfolio"
              />
              <div
                class="absolute inset-0 transition-all duration-300 opacity-0 overlay bg-gradient-to-t from-white dark:from-black to-transparent rounded-xl group-hover:opacity-100"
              ></div>
            </div>
            <div
              class="info text-center position-center max-lg:text-3xl text-lead font-semibold text-black dark:text-white leading-1.15 transition duration-500 scale-110 opacity-0 group-hover:scale-100 group-hover:opacity-100 relative z-10"
            >
              Design
              <span> Specialization </span>
            </div>
          </a>
          <ul
            class="absolute z-10 transition-all duration-500 opacity-0 md:top-9 md:right-9 top-6 right-6 group-hover:opacity-100"
          >
            <li>
              <a
                href="#"
                class="inline-flex items-center gap-2 px-5 py-3 text-sm font-light leading-none text-white transition-colors bg-metalBlack rounded-3xl hover:text-theme"
              >
                Branding
              </a>
            </li>
          </ul>
        </div>
        <!--./portfolio-card-->

        <div class="item md:col-span-1 group">
          <a
            href="project-single.html"
            class="block p-3 overflow-hidden border md:p-4 rounded-xl border-platinum dark:border-greyBlack"
          >
            <div class="img-wrapper">
              <img
                src="img/portfolio/portfolio-img9.png"
                class="rounded-lg max-md:h-[17rem] w-full max-md:object-cover max-md:object-center transition-all duration-300 group-hover:blur-xs"
                alt="portfolio"
              />
              <div
                class="absolute inset-0 transition-all duration-300 opacity-0 overlay bg-gradient-to-t from-white dark:from-black to-transparent rounded-xl group-hover:opacity-100"
              ></div>
            </div>
            <div
              class="info text-center position-center max-lg:text-3xl text-lead font-semibold text-black dark:text-white leading-1.15 transition duration-500 scale-110 opacity-0 group-hover:scale-100 group-hover:opacity-100 relative z-10"
            >
              Design
              <span> Specialization </span>
            </div>
          </a>
          <ul
            class="absolute z-10 transition-all duration-500 opacity-0 md:top-9 md:right-9 top-6 right-6 group-hover:opacity-100"
          >
            <li>
              <a
                href="#"
                class="inline-flex items-center gap-2 px-5 py-3 text-sm font-light leading-none text-white transition-colors bg-metalBlack rounded-3xl hover:text-theme"
              >
                Branding
              </a>
            </li>
          </ul>
        </div>
        <!--./portfolio-card-->

        <div class="item md:col-span-1 group">
          <a
            href="project-single.html"
            class="block p-3 overflow-hidden border md:p-4 rounded-xl border-platinum dark:border-greyBlack"
          >
            <div class="img-wrapper">
              <img
                src="img/portfolio/portfolio-img10.png"
                class="rounded-lg max-md:h-[17rem] w-full max-md:object-cover max-md:object-center transition-all duration-300 group-hover:blur-xs"
              />
              <div
                class="absolute inset-0 transition-all duration-300 opacity-0 overlay bg-gradient-to-t from-white dark:from-black to-transparent rounded-xl group-hover:opacity-100"
              ></div>
            </div>
            <div
              class="info text-center position-center max-lg:text-3xl text-lead font-semibold text-black dark:text-white leading-1.15 transition duration-500 scale-110 opacity-0 group-hover:scale-100 group-hover:opacity-100 relative z-10"
            >
              Design
              <span> Specialization </span>
            </div>
          </a>
          <ul
            class="absolute z-10 transition-all duration-500 opacity-0 md:top-9 md:right-9 top-6 right-6 group-hover:opacity-100"
          >
            <li>
              <a
                href="#"
                class="inline-flex items-center gap-2 px-5 py-3 text-sm font-light leading-none text-white transition-colors bg-metalBlack rounded-3xl hover:text-theme"
              >
                Branding
              </a>
            </li>
          </ul>
        </div>
        <!--./portfolio-card-->
      </div>

      <!-- Pagination Starts  -->
      <div
        class="mt-10 text-center md:mt-13 flex items-center justify-center flex-wrap"
      >
        <div
          class="pagination flex-center gap-2 lg:gap-4 *:w-10 *:h-10 *:inline-flex *:items-center *:justify-center *:border *:border-platinum *:dark:border-greyBlack *:rounded-full *:transition-all"
        >
          <a
            href="#"
            class="prev hover:bg-theme hover:border-theme hover:text-white [&.active]:bg-theme [&.active]:text-white"
          >
            <svg
              class="w-4"
              viewBox="0 0 22 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20.5738 7.75879L0.761719 7.75879M0.761719 7.75879L7.3501 1.17041M0.761719 7.75879L7.3501 14.3472"
                stroke="currentcolor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
          <a
            href="#"
            class="active hover:bg-theme hover:border-theme hover:text-white [&.active]:bg-theme [&.active]:text-white"
            >1</a
          >
          <a
            href="#"
            class="hover:bg-theme hover:border-theme hover:text-white [&.active]:bg-theme [&.active]:text-white"
            >2</a
          >
          <a
            href="#"
            class="hover:bg-theme hover:border-theme hover:text-white [&.active]:bg-theme [&.active]:text-white"
          >
            <i class="fal fa-ellipsis-h"></i>
          </a>
          <a
            href="#"
            class="hover:bg-theme hover:border-theme hover:text-white [&.active]:bg-theme [&.active]:text-white"
            >8</a
          >
          <a
            href="#"
            class="next hover:bg-theme hover:border-theme hover:text-white [&.active]:bg-theme [&.active]:text-white"
          >
            <svg
              class="w-4"
              viewBox="0 0 22 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.19961 7.75879L21.0117 7.75879M21.0117 7.75879L14.4233 1.17041M21.0117 7.75879L14.4233 14.3472"
                stroke="currentcolor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
      </div>
      <!-- Pagination Ends  -->
    </div>
  </div>
  <!-- Portfolio Section End -->
</div>
