<a
  href="project-single.html"
  class="block p-3 overflow-hidden border md:p-4 rounded-xl border-platinum dark:border-greyBlack"
>
  <div class="img-wrapper">
    <img
      src="img/portfolio/portfolio-img1.png"
      class="rounded-lg max-md:h-[17rem] w-full max-md:object-cover max-md:object-center transition-all duration-300 group-hover:blur-xs"
      alt="portfolio"
    />
    <div
      class="absolute inset-0 transition-all duration-300 opacity-0 overlay bg-gradient-to-t from-white dark:from-black to-transparent rounded-xl group-hover:opacity-100"
    ></div>
  </div>
  <div
    class="info text-center position-center max-lg:text-3xl text-lead font-semibold text-black dark:text-white leading-1.15 transition duration-500 scale-110 opacity-0 group-hover:scale-100 group-hover:opacity-100 relative z-10"
  >
    Design
    <span> Specialization </span>
  </div>
</a>
<ul
  class="absolute z-10 transition-all duration-500 opacity-0 md:top-9 md:right-9 top-6 right-6 group-hover:opacity-100"
>
  <li>
    <a
      href="#"
      class="inline-flex items-center gap-2 px-5 py-3 text-sm font-light leading-none text-white transition-colors bg-metalBlack rounded-3xl hover:text-theme"
    >
      Branding
    </a>
  </li>
</ul>
<!--./portfolio-card-->
