<div
  class="minfo__contentBox relative mx-auto max-w-container xl:max-2xl:max-w-65rem"
>
  <!-- Blog Section Start -->
  <div
    class="py-5 xl:py-3.5 max-w-content xl:max-2xl:max-w-50rem max-xl:mx-auto xl:ml-auto"
  >
    <div
      class="px-5 py-8 md:p-8 bg-white dark:bg-nightBlack rounded-2xl service-section lg:p-10 2xl:p-13"
    >
      <div
        class="inline-flex items-center gap-2 px-4 py-2 text-xs tracking-wide text-black dark:text-white border lg:px-5 section-name border-platinum dark:border-greyBlack200 rounded-4xl"
      >
        <i class="fal fa-blog text-theme"></i>
        BLOG
      </div>
      <div class="mt-5 mb-8 md:my-10 section-title">
        <h2
          class="title text-[32px] md:text-4xl lg:text-5xl font-extralight text-black dark:text-white leading-1.27"
        >
          Latest <span class="font-semibold text-theme">Insights</span>
        </h2>
        <p class="max-w-xl mt-4 md:mt-6 subtitle">
          I design products that are more than pretty. I make them shippable and
          usable, tempor non mollit dolor et do aute
        </p>
      </div>

      <div class="blog-list grid grid-cols-1 md:grid-cols-2 gap-7.5">
        @for (item of posts(); track $index) {
        <app-post-card
          type="normal"
          [data]="item"
          class="*:overflow-hidden *:bg-flashWhite dark:*:bg-metalBlack *:items-center *:rounded-2xl"
        />
        }
      </div>

      <!-- Pagination Starts  -->
      <div
        class="mt-10 text-center md:mt-13 flex items-center justify-center flex-wrap"
      >
        <div
          class="pagination flex-center gap-4 *:w-10 *:h-10 *:inline-flex *:items-center *:justify-center *:border *:border-platinum *:dark:border-greyBlack *:rounded-full *:transition-all"
        >
          <a
            href="#"
            class="prev hover:bg-theme hover:border-theme hover:text-white [&.active]:bg-theme [&.active]:text-white"
          >
            <svg
              class="w-4"
              viewBox="0 0 22 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20.5738 7.75879L0.761719 7.75879M0.761719 7.75879L7.3501 1.17041M0.761719 7.75879L7.3501 14.3472"
                stroke="currentcolor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
          <a
            href="#"
            class="active hover:bg-theme hover:border-theme hover:text-white [&.active]:bg-theme [&.active]:text-white"
            >1</a
          >
          <a
            href="#"
            class="hover:bg-theme hover:border-theme hover:text-white [&.active]:bg-theme [&.active]:text-white"
            >2</a
          >
          <a
            href="#"
            class="hover:bg-theme hover:border-theme hover:text-white [&.active]:bg-theme [&.active]:text-white"
          >
            <i class="fal fa-ellipsis-h"></i>
          </a>
          <a
            href="#"
            class="hover:bg-theme hover:border-theme hover:text-white [&.active]:bg-theme [&.active]:text-white"
            >8</a
          >
          <a
            href="#"
            class="next hover:bg-theme hover:border-theme hover:text-white [&.active]:bg-theme [&.active]:text-white"
          >
            <svg
              class="w-4"
              viewBox="0 0 22 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.19961 7.75879L21.0117 7.75879M21.0117 7.75879L14.4233 1.17041M21.0117 7.75879L14.4233 14.3472"
                stroke="currentcolor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
      </div>
      <!-- Pagination Ends  -->
    </div>
  </div>
  <!-- Blog Section End -->
</div>
