@if (type() === 'mini') {
<div class="article group">
  <div
    class="thumbnail overflow-hidden flex col-span-12 sm:col-span-6 md:col-span-5"
  >
    <a (click)="viewDetails()" class="block w-full overflow-hidden rounded-xl">
      <img
        [src]="data().imageUrls[imgSize()]"
        class="object-cover object-center w-full h-full min-h-[288px] max-h-60 md:min-h-60 transition-all duration-300 ease-in-out group-hover:scale-105"
        [alt]="data().title"
      />
    </a>
  </div>
  <div
    class="post-content relative px-3 pt-6 pb-2 md:p-5 flex flex-col col-span-12 sm:col-span-6 md:col-span-7"
  >
    <div class="flex items-center gap-5">
      <div class="text-sm font-medium tags">
        <a href="#" class="transition-colors hover:text-theme">
          {{ data().category[0] }} </a
        >,
        <span class="post_date">
          {{ data().publicated | date : "dd MMM yyyy" }}
        </span>
      </div>
    </div>
    <div class="post-title mt-3 md:mt-4.5 mb-6 md:mb-8">
      <a
        (click)="viewDetails()"
        class="text-xl font-semibold leading-normal text-black dark:text-white transition-colors line-clamp-2 2xl:text-2xl 2xl:leading-normal hover:text-theme"
      >
        {{ data().title }}
      </a>
    </div>
    <div class="read-details">
      <a
        (click)="viewDetails()"
        class="inline-flex items-center gap-2 border border-theme text-theme text-sm py-3.5 px-6 rounded-3xl leading-none transition-all duration-300 hover:bg-themeHover hover:border-themeHover dark:font-medium hover:text-white"
      >
        Read More
      </a>
    </div>
  </div>
</div>
} @else {
<div class="article-normal group">
  <div
    class="flex col-span-12 overflow-hidden thumbnail sm:col-span-6 md:col-span-5"
  >
    <a (click)="viewDetails()" class="block w-full overflow-hidden rounded-xl">
      <img
        [src]="data().imageUrls[imgSize()]"
        class="object-cover object-center w-full h-full min-h-[288px] max-h-60 md:min-h-60 transition-all duration-300 ease-in-out group-hover:scale-105"
        [alt]="data().title"
      />
    </a>
  </div>

  <div
    class="relative flex flex-col col-span-12 p-5 post-content sm:col-span-6 md:col-span-7"
  >
    <div class="flex items-center gap-5">
      <div class="text-sm font-medium tags">
        <a href="#" class="transition-colors hover:text-theme">
          {{ data().category[0] }} </a
        >,
        <span class="post_date">
          {{ data().publicated | date : "dd MMM yyyy" }}
        </span>
      </div>
    </div>
    <div class="post-title mt-3 md:mt-4.5 mb-6 md:mb-8">
      <a
        (click)="viewDetails()"
        class="text-xl font-semibold leading-normal text-black dark:text-white transition-colors line-clamp-2 2xl:text-2xl 2xl:leading-normal hover:text-theme dark:hover:text-theme"
      >
        {{ data().title }}
      </a>
    </div>
    <div class="read-details">
      <a
        (click)="viewDetails()"
        class="inline-flex items-center gap-2 border border-theme text-theme text-sm py-3.5 px-6 rounded-3xl leading-none transition-all duration-300 hover:bg-themeHover hover:border-themeHover dark:font-medium hover:text-white"
      >
        Read More
      </a>
    </div>
  </div>
</div>
}
