<form
  class="mt-6 comment-form xl:mt-12"
  [formGroup]="frm"
  (ngSubmit)="addComment()"
>
  <h5 class="mb-5 text-black dark:text-white font-regular">Leave a Comment</h5>
  <div class="space-y-5 form-group">
    <input
      type="text"
      name="name"
      class="w-full border rounded-md border-dashed border-platinum dark:border-greyBlack outline-none py-3.5 px-4 text-white text-regular focus:border-theme dark:focus:border-theme dark:placeholder:text-white/40"
      placeholder="Full Name"
      required
      formControlName="username"
    />
    <textarea
      name="message"
      rows="5"
      class="w-full border rounded-md border-dashed border-platinum dark:border-greyBlack outline-none py-3.5 px-4 text-white text-regular focus:border-theme dark:focus:border-theme dark:placeholder:text-white/40 resize-none"
      placeholder="Your Message"
      formControlName="text"
    ></textarea>
    <button
      type="submit"
      class="inline-flex items-center gap-2 text-[15px] font-medium border border-theme bg-theme text-white py-4.5 px-9 rounded-4xl leading-none transition-all duration-300 hover:bg-themeHover hover:border-themeHover"
      aria-label="Add Comment"
    >
      Add Comment
    </button>
  </div>
</form>
