<div
  class="minfo__contentBox relative mx-auto max-w-container xl:max-2xl:max-w-65rem *:py-5 xl:*:py-3.5 *:max-w-content max-xl:*:mx-auto xl:*:ml-auto xl:max-2xl:*:max-w-50rem"
>
  <!-- Hero/Introduction Section Start -->
  <div data-scroll-index="0" id="home">
    <app-home-intro />
  </div>
  <!-- Hero/Introduction Section End -->

  <!-- About Me Section Start -->
  <div data-scroll-index="1" id="about" #about>
    <app-home-about />
  </div>
  <!-- About Me Section End -->

  <!-- My Services Section Start -->
  <div data-scroll-index="2" id="service" #service>
    @defer (on viewport(about); on timer(5s)) {
    <app-home-services />
    }
  </div>
  <!-- My Services Section End -->

  <!-- Skills Section Start -->
  <div data-scroll-index="3" id="skill" #skill>
    @defer (on viewport(service); on timer(5s)) {
    <app-home-skills />
    }
  </div>
  <!-- Skills Section End -->

  <!-- My Resume Section Start -->
  <div data-scroll-index="4" id="resume" #resume>
    @defer (on viewport(skill); on timer(5s)) {
    <app-home-resume />
    }
  </div>
  <!-- My Resume Section End -->

  <!-- Portfolio Section Start -->
  <div data-scroll-index="5" id="portfolio" #portfolio>
    @defer (on viewport(resume); on timer(5s)) {
    <app-home-portfolio />
    }
  </div>
  <!-- Portfolio Section End -->

  <!-- Blog Section Start -->
  <div data-scroll-index="6" id="blog" #blog>
    @defer (on viewport(portfolio); on timer(5s)) {
    <app-home-blogs />
    }
  </div>
  <!-- Blog Section End -->

  <!-- Testimonial Section Start -->
  <div data-scroll-index="7" id="testimonial" #testimonial>
    @defer (on viewport(blog); on timer(5s)) {
    <app-home-testimonials />
    }
  </div>
  <!-- Testimonial Section End -->

  <!-- Contact Section Start -->
  <div data-scroll-index="8" id="contact">
    @defer (on viewport(testimonial); on timer(5s)) {
    <app-home-contact />
    }
  </div>
  <!-- Contact Section End -->
</div>
