<div class="experience">
  <ul
    class="space-y-5 md:space-y-11 relative md:before:content-[''] md:before:absolute md:before:left-64 md:before:border-r md:before:border-platinum md:dark:before:border-metalBlack md:before:h-[calc(100%_-1.5rem)] md:before:top-1/2 md:before:-translate-y-1/2 *:p-5 *:border *:rounded-xl md:*:flex max-md:*:space-y-2 *:border-platinum dark:*:border-metalBlack md:*:border-0 md:*:p-0 md:*:rounded-none"
  >
    @for (item of experiences(); track item.id) {
    <li>
      <div
        class="flex items-center justify-between mb-5 md:w-64 md:block md:mb-0"
      >
        <h6
          class="text-sm font-medium text-black dark:text-white text-opacity-60 md:text-base md:text-opacity-100"
        >
          {{ item.place }}
        </h6>
        <p class="text-[13px] md:text-sm text-theme">{{ item.period }}</p>
      </div>
      <div
        class="md:flex-1 md:pl-16 relative md:before:content-[''] md:before:absolute md:before:-left-1 md:before:top-3 md:before:w-2 md:before:h-2 md:before:bg-theme md:before:rounded-full md:before:shadow-dots_glow"
      >
        <h4
          class="text-xl xl:text-2xl font-medium xl:font-medium leading-7 text-black dark:text-white mb-2.5"
        >
          {{ item.title }}
        </h4>
        <p>
          {{ item.description }}
        </p>
      </div>
    </li>
    }
  </ul>
</div>
