<div
  class="resume-section px-5 py-8 md:p-8 bg-white dark:bg-nightBlack rounded-2xl lg:p-10 2xl:p-13"
>
  <div
    class="inline-flex items-center gap-2 px-4 py-2 text-xs tracking-wide text-black dark:text-white border lg:px-5 section-name border-platinum dark:border-greyBlack200 rounded-4xl"
  >
    <i class="fal fa-folder-open text-theme"></i>
    RESUME
  </div>
  <div class="mb-8 mt-7 md:my-10 section-title">
    <h2
      class="title text-[32px] md:text-4xl lg:text-5xl font-extralight text-black dark:text-white leading-1.27"
    >
      Work <span class="font-semibold text-theme">Experience</span>
    </h2>
    <p class="max-w-xl mt-4 md:mt-6 subtitle">
      I design products that are more than pretty. I make them shippable and
      usable, tempor non mollit dolor et do aute
    </p>
  </div>
  <!--./section-title-->

  <app-experience-list [experiences]="works()" />
  <br />
  <div class="mb-8 mt-7 md:my-10 section-title">
    <h2
      class="title text-[32px] md:text-4xl lg:text-5xl font-extralight text-black dark:text-white leading-1.27"
    >
      My <span class="font-semibold text-theme">Education</span>
    </h2>
    <p class="max-w-xl mt-4 md:mt-6 subtitle">
      I design products that are more than pretty. I make them shippable and
      usable, tempor non mollit dolor et do aute
    </p>
  </div>

  <app-experience-list [experiences]="education()" />
</div>
