<div
  class="blog-section px-5 py-8 md:p-8 bg-white dark:bg-nightBlack rounded-2xl lg:p-10 2xl:p-13"
>
  <div
    class="inline-flex items-center gap-2 px-4 py-2 text-xs tracking-wide text-black dark:text-white border lg:px-5 section-name border-platinum dark:border-greyBlack200 rounded-4xl"
  >
    <i class="fal fa-blog text-theme"></i>
    BLOG
  </div>
  <div class="mt-5 mb-8 md:my-10 section-title">
    <h2
      class="title text-[32px] md:text-4xl lg:text-5xl font-extralight text-black dark:text-white leading-1.27"
    >
      Latest <span class="font-semibold text-theme">Insights</span>
    </h2>
    <p class="max-w-xl mt-4 md:mt-6 subtitle">
      I design products that are more than pretty. I make them shippable and
      usable, tempor non mollit dolor et do aute
    </p>
  </div>
  <!--./section-title-->

  <div class="blog-list">
    @for (item of posts() | slice:0:3; track $index) {
    <app-post-card
      type="mini"
      [data]="item"
      class="*:grid md:*:gap-2 *:grid-cols-12 *:overflow-hidden *:bg-flashWhite dark:*:bg-metalBlack *:items-center *:rounded-2xl *:p-3.5"
    />
    }
  </div>

  <div class="mt-10 text-center more-blogs md:mt-13">
    <a
      routerLink="/all-posts"
      class="inline-flex items-center gap-2 text-[15px] font-medium border border-theme bg-theme text-white py-4.5 px-9 rounded-4xl leading-none transition-all duration-300 hover:bg-themeHover hover:border-themeHover"
    >
      More Post
    </a>
  </div>
</div>
